.calendar {
  display: flex;
  flex-flow: column;
}

.calendar .view {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.calendar .view .days {
  display: grid;
  gap: 4px;
  padding: 8px;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .calendar .view .days {
    display: flex;
    flex-direction: column;
  }

  .day_num:not(.active) {
    display: none;
  }
}

.day_date {
  display: none;
}

.day_names {
  display: none;
}

.day_num {
  position: relative;
  border-radius: 4px;
  min-height: 18px;
}

.day_num>.add {
  position: absolute;
  right: 0px;
  top: 0px;
}

.day_num:not(.active) {
  background-color: var(--bg-darken);
}

.day_num.active {
  background-color: var(--bg-darken-2);
}

a {
  color: var(--text);
  text-decoration: none;
}

.day_num>span {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 24px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day_num {
  padding-top: 24px;
}

.day_num:not(.active)>span {
  color: #888;
}

.event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.event-header i {
  font-size: 10px;
}

.event-desc {
  color: var(--text-card-title);
  display: block;
  text-decoration: none;
}

.event {
  padding: 8px 16px;
}

.event-date {
  display: flex;
  justify-content: space-between;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 8px;
}

.event-date.joined {
  background-color: var(--button-primary-light-bg);
}

.event-date.can-join {
  opacity: 1;
}

.event-date.cant-join {
  opacity: 0.5;
}

.event.joined {
  background-color: var(--button-primary-light-bg);
}